@page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */ 
-webkit-print-color-adjust:exact !important	
    }

@media print {
  @page { margin: 0px !important; 
  	font-size: 10px;
  }
  body {-webkit-print-color-adjust: exact; !important}
}
#content .area {
	padding: 5px 10px 5px !important;
	 zoom:0.7;  

}

.fc-content .fc-time .fc-title{
	zoom:0.7;  
}

.search-events-form, #top, .search-wrapper, .custom-menu,#area-header, .fc-prev-button, .fc-next-button{
	display: none;
}

.fc-title{
	display:block;
}

/*.fc-view-container{
	border: 1px solid black !important;
}*/

.ui-pnotify{
	display: none!important;
}

.events-list{
	display: none!important;
}

.side-toggler{
	display: none!important;
}

.fc-today-button{
	display: none!important;
}

.fc-agendaWeek-button{
	display: none!important;
}

.fc-agendaDay-button{
	display: none!important;
}

.fc-toolbar{
	margin-bottom: 2px;
	zoom:0.80;
}
.fc{
	page-break-after: avoid!important;
	page-break-before: avoid!important;
	page-break-inside: avoid;
}

/*.fc-content-skeleton{
	zoom:0.8;
}*/
	.calendar-area {
	padding-top: 0px !important;
	margin-bottom: 0px !important
}


.fc-toolbar{
width: 100% !important;
    position: relative !important;
    top: 0px !important;
}
.fc-head{
	    position: relative !important;
    padding: 0px !important
}
#calendar {
	margin-top: 0px !important;
    position: relative;
}

.fc-row.fc-widget-header {
border-top: 1px solid #ccc
}

@media print {
.fc-event{
    -webkit-print-color-adjust: exact !important; 
}}


